.banner {
    background-image: url("../assets/img/apartment1.jpg");
    background-size: cover;
    padding-top: 44px;
    min-height: 250px;
    z-index: 1;
}

.banner__container {
    padding: 50px 18px;
}

.banner__title {
    padding: 22px 6px;
    max-width: 245px;
    backdrop-filter: blur(8px);
    text-align: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.20);
}

@media (min-width: 1200px) {
    .banner {
        padding-top: 100px;
    }

    .banner__container {
        padding: 125px 0;
        max-width: 1316px;
        margin: 0 auto;
    }

    .banner__title {
        max-width: 645px;
        padding: 86px 40px;
    }
}