* {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.4;
}

*::before,
*::after {
    box-sizing: inherit;
}

h1, h2 {
    font-family: 'Mirza', serif;
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
}

h3 {
    font-family: 'Mirza', serif;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    font-style: normal;
}

h4 {
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
}

p {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media (min-width: 1000px) {
    * {
        font-size: 16px;
    }

    h1, h2 {
        font-weight: 400;
        font-size: 48px;
        line-height: 1;
    }
}