.contacts .banner {
    background-image: unset;
    background: var(--color-gradient);
    overflow: hidden;
}

.contacts__section {
    margin-bottom: 52px;
}

.contacts .banner__title {
    position: relative;
    margin-left: 0;
}

.contacts .banner__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -150px;
    display: block;
    background-image: url(../assets/img/contacts-il.png);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}

.contacts__container {
    padding: 0 18px;
}

.contacts__title {
    margin-bottom: 36px;
}

.contacts__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 36px 16px;
}

.contacts__item {
    min-width: 136px;
}

.contacts__item-img-wrapper {
    background: var(--color-gradient);
    border-radius: 6px;
    min-width: 136px;
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    margin-bottom: 18px;
}

.contacts__item-img-wrapper img {
    width: 80px;
    height: 80px;
}

.contacts__item b {
    display: block;
}

.contacts__item a {
    color: inherit;
    text-decoration: none;
}

@media (min-width: 1200px) {
    .contacts .banner__title {
        margin-left: auto;
    }

    .contacts .banner__title::after {
        width: 459px;
        height: 459px;
        right: -400px;
        bottom: 50%;
        transform: translateY(50%);
    }

    .contacts__section {
        margin-bottom: 92px;
    }

    .contacts__container {
        max-width: 1352px;
        margin: 0 auto;
        padding: 0 18px;
    }

    .contacts__list {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0 100px;
    }

    .contacts__item-img-wrapper {
        height: 200px;
    }

    .contacts__item-img-wrapper img {
        width: 128px;
        height: 128px;
    }

    .contacts__item b {
        font-size: 24px;
        font-family: 'Mirza', serif;
        line-height: 1;
    }

    .contacts__item a,
    .contacts__item span {
        font-size: 16px;
        line-height: 1;
    }
}