.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
    z-index: 3;
    background: rgba(255, 255, 255, 0.20);
}

.header__button-icon {
    margin-left: auto;
    position: relative;
    background: unset;
    border: unset;
    display: block;
    width: 24px;
    height: 24px;
}

.header__button-icon::before,
.header__button-icon::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 2px;
    background-color: var(--color-font);
    transition: all 0.4s ease;
    border-radius: 4px;
}

.header__button-icon::before {
    top: 8px;
    left: 4px;
}

.header__button-icon::after {
    bottom: 8px;
    left: 4px;
}

.header__button:checked + .header__button-icon::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
}

.header__button:checked + .header__button-icon::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

.header__container {
    display: flex;
    align-items: center;
    padding: 5px 18px;
    height: 44px;
}

.header__navigation {
    position: absolute;
    left: -100%;
    top: 44px;
    z-index: 3;
    width: 100%;
    background-color: var(--color-background);
    padding: 0 18px;
    box-shadow: var(--box-shadow);
    transition: left 0.4s ease;
}

.header__navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__navigation-item {
    padding: 10px 0;
    text-align: center;
}

.header__navigation-link {
    color: var(--color-button-normal);
    text-decoration: none;
}

.header__navigation-link--active {
    border-bottom: 1px solid var(--color-button-hover);
}

.header__button:checked ~ .header__navigation {
    left: 0;
}

@media (min-width: 1200px) {
    .header__button-icon {
        display: none;
    }

    .header__container {
        max-width: 1352px;
        margin: 0 auto;
        padding: 14px 18px;
        height: unset;
        align-items: center;
    }

    .header__logo-link img {
        width: 127px;
        height: 67px;
    }

    .header__navigation {
        position: static;
        background: transparent;
        box-shadow: none;
        padding: 0;
    }

    .header__navigation-list {
        display: flex;
        margin-left: auto;
        width: fit-content;
    }

    .header__navigation-item {
        padding: 0;
        margin-left: 176px;
    }

    .header__navigation-item:first-child {
        margin-left: 0;
    }

    .header__navigation-link {
        color: var(--color-font);
        font-size: 16px;
    }
}