.item-page .categories {
    margin-top: 44px;
}

.item-page .header {
    background-color: var(--color-footer);
    border-bottom: 1px solid var(--color-divide);
}

.item__container {
    padding: 0 18px;
}

.item {
    margin-bottom: 52px;
}

.item__info {
    margin-bottom: 52px;
}

.item__info-img-wrapper {
    width: 100%;
    border-radius: 6px;
    background: var(--color-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 26px;
    margin-bottom: 18px;
}

.item__info-img-wrapper img {
    width: 236px;
    height: auto;
    display: block;
}

.item__info-title {
    font-family: 'Mirza', serif;
    font-size: 20px;
    font-weight: 700;
}

.item__reviews-title {
    font-family: 'Mirza', serif;
    font-size: 20px;
    font-weight: 700;
}

.item__reviews-info-container {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}

.item__reviews-info-container span {
    font-size: 14px;
    line-height: 14px;
}

.item__reviews-item-rating {
    position: relative;
    width: 152px;
    height: 24px;
    background-image: url('../assets/img/stars.svg');
    margin: 0 4px;
}

.item__reviews-item-rating::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../assets/img/stars-filled.svg');
    height: 24px;
    background-repeat: no-repeat;
}

.item__reviews-item-rating[data-stars="1"]::before {
    width: 20%;
}

.item__reviews-item-rating[data-stars="2"]::before {
    width: 40%;
}

.item__reviews-item-rating[data-stars="3"]::before {
    width: 60%;
}

.item__reviews-item-rating[data-stars="4"]::before {
    width: 80%;
}

.item__reviews-item-rating[data-stars="5"]::before {
    width: 100%;
}

.item__reviews-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.item__reviews-item {
    border: 2px solid var(--color-divide);
    padding: 8px 8px 22px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
}

.item__reviews-item + .item__reviews-item {
    margin-top: 36px;
}

.item__reviews-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 14px;
}


.item__reviews-item-date {
    width: 100%;
    color: var(--color-news);
}

@media (min-width: 1200px) {
    .item-page .categories {
        margin-top: 100px;
    }

    .item__container {
        max-width: 1352px;
        margin: 0 auto;
        padding: 0 18px;
    }

    .item {
        margin-bottom: 92px;
    }

    .item__info {
        display: flex;
        margin-bottom: 92px;
    }

    .item__info-img-wrapper {
        width: 33.333%;
        flex-shrink: 0;
        padding: 45px;
        margin-right: 31px;
    }

    .item__info-img-wrapper img {
        width: 400px;
        height: 400px;
    }

    .item__info-title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 18px;
    }

    .item__info-text {
        font-size: 16px;
    }

    .item__reviews-title {
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 8px;
    }

    .item__reviews-info-container {
        margin-bottom: 66px;
    }

    .item__reviews-list {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        justify-content: space-between;
        margin-bottom: -62px;
    }

    .item__reviews-item + .item__reviews-item {
        margin-top: 0;
    }

    .item__reviews-item {
        width: 45%;
        margin-bottom: 62px;
        padding: 12px 12px 36px;
    }
}