.news-block {
    margin-bottom: 52px;
}

.news-block__container {
    padding: 0 18px;
}

.news-block__title {
    text-align: center;
    margin-bottom: 24px;
}

.news-block__article {
    border: 2px solid var(--color-divide);
    border-radius: 6px;
    padding: 12px 14px;
}

.news-block__article + .news-block__article {
    margin-top: 36px;
}

.news-block__article img {
    width: 100%;
    height: 200px;
    display: block;
    margin-bottom: 12px;
    object-fit: cover;
    border-radius: 6px;
}

.news-block__article-content {
    border: 2px solid var(--color-divide);
    border-radius: 6px;
    padding: 10px;
}

.news-block__article-title {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

@media (min-width: 1200px) {
    .news-block {
        margin-bottom: 92px;
    }
    .news-block__container {
        max-width: 1352px;
        margin: 0 auto;
        padding: 0 18px;
    }

    .news-block__article {
        display: flex;
        align-items: center;
        padding: 17px 34px;
    }

    .news-block__article + .news-block__article {
        margin-top: 62px;
    }

    .news-block__article img {
        width: 613px;
        height: 529px;
        margin-right: 28px;
    }

    .news-block__article-content {
        padding: 166px 76px 166px 115px;
    }

    .news-block__article-title {
        font-size: 16px;
    }

    .news-block__article-text {
        font-size: 16px;
    }
}