.promo-pic {
    background: var(--color-gradient);
    margin-bottom: 52px;
}

.promo-pic img {
    display: block;
    width: 100%;
}

@media (min-width: 1200px) {
    .promo-pic {
        margin-bottom: 92px;
    }
}