:root {
    --color-background: #FFF;
    --color-gradient: linear-gradient(180deg, #FFE439 0%, #BB7DB6 96.35%);
    --color-font: #000;
    --color-news: #767474;
    --color-button-normal: rgba(112, 37, 105, 0.73);
    --color-button-hover: rgba(112, 37, 105, 0.77);
    --color-footer: #FFE439;
    --color-divide: rgba(112, 37, 105, 0.80);
    --box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
}