.video-section {
    padding: 0 0 52px;
    background-color: var(--color-background);
    overflow: hidden;
}

.video-section img {
    display: block;
    width: 100%;
    /*height: auto;*/
    height: 200px;
}

.video-section__title {
    text-align: center;
    margin-bottom: 36px;
}


@media (min-width: 1200px) {
    .video-section {
        padding: 0 0 92px;
    }

    .video-section img {
        max-width: 1440px;
        height: 590px;
        margin: 0 auto;
    }

    .video-section__title {
        margin-bottom: 62px;
    }
}